/* GENERAL */
*{
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family:Raleway;
}
h2{
    font-size: 22px;
}
h1 h2 h3{
    font-weight: bold;
}
/* HEADER*/

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul li a{
    text-decoration: none;
    color: #0065FC;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 68px;
    list-style-type: none;
    padding: 0 50px 0 50px;
}
.logo{
    padding: 20px 10px 20px 20px;
}
.menu-principal li{
    padding-top: 5px;
}
.menu-principal li:hover{
    border-top: 2px solid #0065FC ;
}

/* 1ERE SECTION */
.conteneur1{
    padding-left: 20px;
    height: 287px;
}
.conteneur1 p{
    height: 19px;
    font-size: 16px;
}
.search-bar{
    display: flex;
    align-items: center;
    border: 1px;
    margin-top: 30px;
    height: 50px;
    gap: 29px;
}
.fa-location-dot{
    background-color: #F2F2F2;
    text-align: center;
    width:50px;
    height: 40px;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    font-size: 18px;
    padding-top: 8px;
}
.search-input{
    border: none;
    padding: 10px 0 10px 0;
}
input::placeholder{
    font-weight: bold;
    color: black;
    text-align: center;
}
.search-button{
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
    border: none;
    cursor: pointer;
    height: 40px;
}

/* FILTRES */
.Filtres{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-weight: bold;
    margin-top: 30px;
}
.Filtres p{
    height: 21px;
    font-size: 18px;
    padding-top: 5px;
    padding-right: 10px;
}
.fa-heart,.fa-fire,.fa-person,.fa-money-bill-wave{
    color:#0065FC;
    padding-left: 5px;
    padding-right: 5px;
}
.eco,.familial,.romantique,.pepites{
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 15px;
    font-weight: bold;
    padding: 10px;
    height: 40px;
}
.eco:hover,.familial:hover,.romantique:hover,.pepites:hover{
    background-color: #deebff;
}
.categories{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.logo-info{
    gap: 10px;
    padding-right: 10px;
}

/* SECTION HEBERGEMENTS */
.hébergements-marseille{
    margin-left: 20px;
    background-color: #F2F2F2;
    padding: 30px;
    border-radius: 15px;
    width: 871px;
    gap: 30px;
}
.cards-main1{
    display: flex;
    gap: 30px;
    padding-top: 30px;
}
.cards-main2{
    display: flex;
    gap: 30px;
    padding-top: 30px;
}
.hebergements-marseille h2{
    height: 26px;
    font-size: 22px;
}
.card1,.card2,.card3,.card4,.card5,.card6{
    box-shadow: 0px 3px 15px 0px #0000001A;
    padding-bottom: 15px;
    gap: 4px;
    border-radius: 20px;
    background-color: #FFFF;
}
.cardtext1,.cardtext2,.cardtext3,.cardtext4,.cardtext5,.cardtext6{
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    padding-right: 15px;
    padding-left: 15px;
    height: 64px;
}
 a{
    text-decoration: none;
    color: black;
}
.cards p{
    padding-top: 8px;
    padding-bottom: 6px;
}
.cards-main1 .stars, .cards-main2 .stars{
    color:#0065FC;
}
.cards h3{
    padding-top: 8px;
}
.afficherplus{
    font-size: 18px;
    height: 21px;
    margin-top: 40px;
}


/* ASIDE-PLUS POPULAIRES */
.populaires{
    background-color: #F2F2F2;
    border-radius: 15px;
    gap: 30px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}
.populaires h2{
    width: 300px;
    height: 26px;
}
.Partie-hébergement{
    display: grid;
    grid-template-columns: 871px 429px;
    gap: 40px;
    height: 614px;  
}
.cards-populaires{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}
.stars-pops{
    color: #0065FC;
}
.pop1,.pop2,.pop3{
    display: block;
    display: flex;
    gap: 24px;
    align-items: flex-start;
    width: 369px;
    height: 146px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}
.pop1 a,.pop2 a, .pop3 a{
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: black;
}
.poptext1,.poptext2{
    width: 246px;
    height: 146px;
    padding: 10px 5px 5px 15px;
    background-color: #FFFF;
    display: flex;
    flex-flow: row wrap;
}
.poptext1, .poptext2, .poptext3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}
.pop1, .pop2, .pop3{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}